*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parag-intro-p {}

.text-sh{}

.head-title{}

.parag-intro-p{}

.text-sh{}

.ghavam .text3d

#quDiv1

.btns-parent

.h3-btn .parag-intro-p .p-en .text-sh
#question

#ansDiv1
#div-btn


.big-button1 .new-btn .popup

#btn1

.popuptext

#myPopup1

/*footer*/

.footer_content
.footer_contacts
.ul2
.l2
.l1png
#insta-logo
.l3-parent
.l3 .l3m
#l3id
.l3png
#tel-anim
.parag-f 

.l1-parent
.l1 .l1m
#l1id
.l1png
